
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li><a class="nav-link active"routerLink="/">Home</a></li>
        <li><a class="nav-link" routerLink="/login">Login</a></li>
        <li><a class="nav-link" routerLink="/account">Account</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
 </div>
 