/* You can add global styles to this file, and also import other style files */
.uibox {
  background-color: rgb(240, 240, 240);
  width: 200px;
  height: 400px;
  padding: 10px;
  border-radius: 10px;
}


.error {
  padding-top: 10px;
  color: rgb(200, 0, 0);
  font-size: 12px;
}

.success {
  padding-top: 10px;
  color: rgb(0, 100, 200);
  font-size: 12px;
}